@model List<Dictionary<string, string>>

@if (Model != null && Model.Count > 0)
{
    <div id="status_left" class="col-md-3">
        <ul id="toc" class="list-unstyled">
            @foreach (Dictionary<string, string> item in Model)
            {
                <li class="toc_item" style="opacity: 1;" onclick="show_details('@item["envelope_id"]_@item["envelope_status"]')">
                    <h4 class="newdata">Envelope: @item["envelope_status"]</h4>
                    <p>
                        Signer: @item["signer_name"]<br>
                        <span class="newdata">Status: @item["signer_status"]</span>
                    </p>
                    <p>
                        CarbonCopy: @item["cc_name"]<br>
                        <span class="newdata">Status: @item["cc_status"]</span>
                    </p>
                </li>
            }
        </ul>
        <ul class="margintop"><li>Click on an entry to view it</li><li>Italics indicate a change</li></ul>
    </div>
    <div id="right_column" class="col-md-9">
        @foreach (Dictionary<string, string> item in Model)
        {
            <div id="@item["envelope_id"]_@item["envelope_status"]" style="display: none">
                <div>
                    <h3>XML Notification Content</h3>
                    <h5 class="newdata">Envelope status: @item["envelope_status"]</h5>
                    <p class="margintop">Recipients</p>
                    <ul>
                        <li>Signer: @item["signer_name"]<span class="newdata"> Status: @item["signer_status"]</span></li>
                        <li>CarbonCopy: @item["cc_name"]<span class="newdata"> Status: @item["cc_status"]</span></li>
                    </ul>
                    <h5><a target="_blank" href="@item["xml_file_url"]">Download the XML file</a></h5>
                    <br />
                    <h5>PDF Documents</h5>
                    @{
            DirectoryInfo taskDirectory = new DirectoryInfo(Server.MapPath("~/Documents/"));
            FileInfo[] taskFiles = taskDirectory.GetFiles(item["envelope_id"] + "*.pdf");
            if (taskFiles != null && taskFiles.Length > 0)
            {
                foreach (FileInfo file in taskFiles)
                {
                    <h7><a target="_blank" href="@file.FullName">@(Request.Url.GetLeftPart(UriPartial.Authority) + "/Documents/" + file.Name)</a></h7>
                }
            }
                    }
                    <h7></h7>
                </div>
                <div id="editor">@File.ReadAllText(item["xml_file_path"])</div>
            </div>
        }
    </div>

    <script>
        $(document).ready(function () {
            $("div#right_column").children().hide();
            show_details('@Model[0]["envelope_id"]_@Model[0]["envelope_status"]');
        });

        function show_details(envelope_id) {
            $("div#right_column").children().hide();
            $("div#" + envelope_id).show();
        }
    </script>
}